@font-face {
  font-family: Aventa;
  src: url("../../fonts/Aventa-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#leftText {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25%;
  padding: calc(6.66667vh - 0.5vw) 3.3333333333vw 0;
}
.mainText {
  display: flex;
  flex-direction: column;
}
.name,
.thirdLine,
.role {
  vertical-align: top;
  font-size: 3.14vw;
  line-height: 1.15;
  text-transform: uppercase;
}
.role {
  text-align: center;
}
.thirdLine {
  text-align: end;
}
#verticalText {
  display: block;
  width: 4rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 1.7rem;
  transform: rotate(180deg);
}
#verticalText:hover {
  transform: rotate(270deg);
}
.secondTitle {
  color: rgb(140, 140, 255);
  font-size: 1.8rem;
}
@media (max-width: 1300px) {
  #leftText {
    gap: 10%;
    grid-column: 1 / 3;
  }
  .name,
  .thirdLine,
  .role {
    font-size: 4.2vw;
  }
  #verticalText {
    font-size: 2.2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 1000px) {
  #leftText {
    gap: 0;
    justify-content: space-around;
  }
  .name,
  .thirdLine,
  .role {
    font-size: 4.7vw;
  }
  #verticalText {
    font-size: 2.2rem;
  }
}

@media (max-width: 800px) {
  #leftText {
    grid-column: 1 / 4;
    grid-row: 2;
    gap: 0;
    padding-top: 0;
  }
  #verticalText {
    display: none;
  }
}

@media (max-width: 600px) {
  #leftText {
    grid-column: 1 / 4;
    grid-row: 2;
    gap: 0;
    padding-top: 0;
  }
  #verticalText {
    display: none;
  }
  .name,
  .thirdLine,
  .role {
    font-size: 5.5vw;
  }
}
