:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  overflow-y: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #292929; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7987; 
}


.App {
  width: 100vw;
  height: 100vh;
  font-family: "Aventa", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 3%;
}

#leftText,
nav,
.about,
.projects {
  padding: calc(6.66667vh - 0.5vw) 3.3333333333vw 0;
}
#socialMedia {
  padding: 0 3.3333333333vw 0;
}
a {
  color: #ff7987;
  transition: 0.3s;
}

a:hover {
  color: rgb(140, 140, 255);
}

.titleHover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.titleHover:hover {
  color: #ff7987;
  /* animation: rubberBand 5s infinite; */
  animation-name: rubberBand;
}
.noUppercase {
  text-transform: none;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
} 
